


@media ( max-aspect-ratio: 1/1 ) {
/* @media ( max-aspect-ratio: 100/1 ) { */

    :root {

    }

    /* html {
    background-color: darkgray;
    } */


    body {
    /* background-color: black; */
    /* background-color: white; */
        /* background-color: hsl(0,0%,4%); */

    margin:0 auto;
    font-size: 2rem;

    /* leave it to hide the scrollbars */
    /* overflow: hidden; */
    }


    * {
    box-sizing: border-box;
    }


    .pageContainer {
        width:80vw;
        /* max-width:30rem; */
        /* height:100vh; */
        /* margin: 0 30rem; */
        margin: 0 auto;
        /* margin-right:10rem; */
        display:flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        /* background-color: black; */
        /* background-color: gray; */
        background-color: white;
        
    }


    .myCanvas {
        position:absolute;
        /* width:800px;
        height: 800px; */
        /* overflow:hidden; */
        /* background-color: aliceblue; */
        /* outline:1px solid black; */


    }

    #canvasContainer {
        position: relative;
        height:800px;
        width:800px;

    }


    #textContainer {
        text-align:justify;
        /* height:400px; */
        /* overflow-y: clip; */
    }

    #canvasWindow {
        /* outline:1px solid black; */
    }

}
